<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.uulm.uist.uistinterface">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <uses-sdk android:minSdkVersion="21" />

        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RoomActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".DeviceTVActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".DeviceFridgeActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".DeviceShowerActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".DeviceTelephoneActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".DeviceLightActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".DeviceBlindActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".DeviceACActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".DeviceHifiActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".DeviceBlurayPlayerActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".DeviceKochbuchActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".DeviceWhirlpoolActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".DeviceHairdryerActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".DeviceNotizblockActivity"></activity>
    </application>

</manifest>